@import "./global.css";

header {
  background-image: url("../assets/images/hero2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  animation: change 10s infinite ease-in-out;
}

@media (max-width: 600px) {
  header .nav-menu {
    height: 0;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
}

header .nav-menu.active {
  height: 100%;
}

@keyframes change {
  0% {
    background-image: url("../assets/images/hero1.png");
  }
  50% {
    background-image: url("../assets/images/hero2.png");
  }
  100% {
    background-image: url("../assets/images/hero3.png");
  }
  /* 75% {
    background-image: url("../assets/images/hero4.png");
  }
  100% {
    background-image: url("../assets/images/hero5.png");
  } */
}
